[Unit]
Description=DietPi BMB20 Realtime Hardware Telemetry Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/bmb20-stats.sh
Restart=always
RestartSec=3
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
